In [13]:
a = "Italy officially the Republic of Italy"

In [14]:
a

'Italy officially the Republic of Italy'

In [15]:
for i in a:
    print(i)

I
t
a
l
y

o
f
f
i
c
i
a
l
l
y

t
h
e

R
e
p
u
b
l
i
c

o
f

I
t
a
l
y

# difference between string in [  ] and " "

In [16]:
a = ["Italy officially the Republic of Italy"]
a

['Italy officially the Republic of Italy']

In [19]:
for i in a:
    print(i)

Italy officially the Republic of Italy

<center>next type

In [27]:
a = "my name is barandooru"

In [28]:
a

'my name is barandooru'

In [32]:
for i in a:
    if i == 'a':
        print(" a is found")
    print(i)

m
y

n
 a is found
a
m
e

i
s

b
 a is found
a
r
 a is found
a
n
d
o
o
r
u

# for-else condition

In [34]:
a = "my name is barandooru"

In [35]:
a

'my name is barandooru'

In [37]:
for i in a:
    print(i)
else:
    print("else condition after for")

m
y

n
a
m
e

i
s

b
a
r
a
n
d
o
o
r
u
else condition after for

# important for-else condition 2ways when it is execute 
1.--> for and else loop will execute naturally without any condition in middle of forloop then else will execute 

2.--> only for loop will execute if any condition like "break" or any other condition is present in middle of loop, no else will execute

In [47]:
a = "my name is abhishek"
for i in a:
    if i == 's':
        break
        print(i)
    print(i)
else:
    print("else condition")

m
y

n
a
m
e

i

In [51]:
a = "my name is abhishek"
for i in a:
    if i == 'e':
        break
    print(i)
else:
    if i == 'y':
        print("y is found")
    print("else condition")

m
y

n
a
m

here continue statement i used
 ------> it i will not print the exact condtion of given . it will move forward to the next condition in continue

In [60]:
a = "my name is abhishek"
for i in a:
    if i == 'a':
        continue
    print(i)
else:
    if i == 'b':
        print("b is found")
    print("else condition")

m
y

n
m
e

i
s

b
h
i
s
h
e
k
else condition

In [71]:
a = 'datascience'
b = ""
for i in range(len(a)):
    if a[i] == 's':
        continue
    else:
        b = b + a[i]

In [72]:
b

'datacience'

# nested loop

In [81]:
n = 8
for i in range(0,n):
    for j in range(0, i+1):
        print("*", end=" ")
    print()

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *

In [170]:
n = 6
for i in range(0, n):
    for j in range(0, i+1):
        print("*", end=" ")
    print("\r")    #------------------>another way of above instead of \r

*
* *
* * *
* * * *
* * * * *
* * * * * *

------> \r --->  Carriage return or \r is a very unique feature of Python. \r will just work as you have shifted your cursor to the beginning of the string or line.

In [175]:
n = 7
for i in range(n):
    for j in range(0, i):
        print("*")
    print("\r")

*

*
*

*
*
*

*
*
*
*

*
*
*
*
*

*
*
*
*
*
*

In [181]:
n = 5
for i in range(0, n):
    print("*")

*
*
*
*
*

In [201]:
n = 5
for i in range(0, n):
    for j in range(0,i+1):
        print("*",end=" ")
    for j in range(i,i+1):
        print("* ",end=" ")
 
       #print()

* *  * * *  * * * *  * * * * *  * * * * * *

# List

In [123]:
l = list()

In [124]:
l = ["abhishek", 7760127237, "Barandooru"]

In [125]:
l

['abhishek', 7760127237, 'Barandooru']

In [126]:
l[0]

'abhishek'

In [128]:
l[2]

'Barandooru'

In [129]:
type(l)

list

# List can be created in two ways

1. l = list()

2. l = [ ]

In [130]:
l = list()
type(l)

list

In [133]:
l = []
type(l)

list

In [132]:
l = ["abhi", "barandooru", 50234]
type(l)

list

In [135]:
l = list(["abhi", "barando", 3345])
type(l)

list

In [154]:
l = ["abhi", "barando", 3345, [5,765,"kkk","sjkl"], 8879, "fgh"]
for i in l:
    print(type(i))

<class 'str'>
<class 'str'>
<class 'int'>
<class 'list'>
<class 'int'>
<class 'str'>

In [155]:
for i in l:
    if type(i) == list:
        for j in i:
            print(type(j))

<class 'int'>
<class 'int'>
<class 'str'>
<class 'str'>

In [156]:
for i in l:
    if type(i) == list:
        n = 0
        for j in i:
            if type(j) == int:
                n = n + j
        print(n)
        print(type(j))

770
<class 'str'>

In [157]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [158]:
list(range(10,20,2))

[10, 12, 14, 16, 18]

In [159]:
ln = ["abhi", "barando", 3345, [5,765,"kkk","sjkl"], 8879, "fgh"]
len(ln)

6

len ---------> it start from 1, not from 0 like array

In [169]:
list(range(5,100,9))

[5, 14, 23, 32, 41, 50, 59, 68, 77, 86, 95]