string is one of the datatype in python

a = "dfgh"   ----->string

a = ["a","n","j"]   ------>list

In [1]:
a = "barandooru"
a

'barandooru'

In [2]:
b = "making powerful places's"

In [3]:
b

"making powerful places's"

In [4]:
b = 'jjjjjjjj"s '
b

'jjjjjjjj"s '

In [5]:
b = "ajgkshshsjdjdgkgiwmdbgs"
b[0]

'a'

In [6]:
b[-1]

's'

In [7]:
len(b)

23

In [8]:
b[-1:-10:1]

''

In [9]:
b[-1:-10:-1]

'sgbdmwigk'

In [10]:
b

'ajgkshshsjdjdgkgiwmdbgs'

In [11]:
for i in b:
    print(i)

a
j
g
k
s
h
s
h
s
j
d
j
d
g
k
g
i
w
m
d
b
g
s

In [12]:
for i in range(len(b)):
    print(b[i])

a
j
g
k
s
h
s
h
s
j
d
j
d
g
k
g
i
w
m
d
b
g
s

In [13]:
b[::-1]

'sgbdmwigkgdjdjshshskgja'

string is immutable object

In [14]:
a = [1,2,4,"d"]
a

[1, 2, 4, 'd']

In [15]:
a[0] = "ff"

In [16]:
a

['ff', 2, 4, 'd']

# important because string is immutable

In [17]:
a = "ghjgskslsjsj"
a

'ghjgskslsjsj'

In [18]:
a[0] = "a"

TypeError: 'str' object does not support item assignment

In [19]:
a

'ghjgskslsjsj'

In [20]:
a[::-1]  #-->skips 1

'jsjslsksgjhg'

In [21]:
a[::-2]   #skips 2

'jjlkgh'

In [22]:
"abhishek" +  "bj"    #--------->concatinate

'abhishekbj'

In [23]:
"Naples" + str(3)        #-->type casting

'Naples3'

# concatination is only posssible list to list and string to string not list to string

In [24]:
"naples"+ ["camapania","italy",3,6,9]

TypeError: can only concatenate str (not "list") to str

In [25]:
"Naples "*6

'Naples Naples Naples Naples Naples Naples '

In [26]:
a = "naples italy "

In [27]:
a

'naples italy '

In [28]:
a.find("l")

3

In [29]:
a = "my name is "
a

'my name is '

In [30]:
a.index("name")

3

In [31]:
a.rfind("name")

3

In [32]:
a.rfind("ame")

4

In [33]:
a.rfind("me")

5

In [34]:
a.rfind("e")

6

In [35]:
a = "my name is "
a = a.find("name")
for i in range(len("name")):
    print(a+i)

3
4
5
6

In [36]:
a = "my name is "
a.split()

['my', 'name', 'is']

In [37]:
a = "italia republic, republic of italy"
a.split()

['italia', 'republic,', 'republic', 'of', 'italy']

In [38]:
type(a.split())

list

In [39]:
a.upper()

'ITALIA REPUBLIC, REPUBLIC OF ITALY'

In [40]:
a.lower()

'italia republic, republic of italy'

In [41]:
a = "italy NAPLES"
a.swapcase()

'ITALY naples'

In [42]:
" " .join(a)

'i t a l y   N A P L E S'

In [43]:
a = "my name is abhihek, uni name is UNINA"
a.count("name")

2

In [44]:
a.split()

['my', 'name', 'is', 'abhihek,', 'uni', 'name', 'is', 'UNINA']

In [45]:
a

'my name is abhihek, uni name is UNINA'

In [46]:
a.split(',')

['my name is abhihek', ' uni name is UNINA']

In [47]:
type(a.split(','))

list

In [48]:
a.upper()

'MY NAME IS ABHIHEK, UNI NAME IS UNINA'

In [49]:
a.lower()

'my name is abhihek, uni name is unina'

In [54]:
a.swapcase()

'MY NAME IS ABHIHEK, UNI NAME IS unina'

In [55]:
"".join(a)

'my name is abhihek, uni name is UNINA'

In [56]:
" ".join(a)

'm y   n a m e   i s   a b h i h e k ,   u n i   n a m e   i s   U N I N A'

In [57]:
reversed(a)

In [58]:
list(reversed(a))

['A',
 'N',
 'I',
 'N',
 'U',
 ' ',
 's',
 'i',
 ' ',
 'e',
 'm',
 'a',
 'n',
 ' ',
 'i',
 'n',
 'u',
 ' ',
 ',',
 'k',
 'e',
 'h',
 'i',
 'h',
 'b',
 'a',
 ' ',
 's',
 'i',
 ' ',
 'e',
 'm',
 'a',
 'n',
 ' ',
 'y',
 'm']

In [59]:
for i in reversed(a):
    print(i)

A
N
I
N
U

s
i

e
m
a
n

i
n
u

,
k
e
h
i
h
b
a

s
i

e
m
a
n

y
m

In [60]:
a[::-1]

'ANINU si eman inu ,kehihba si eman ym'

In [61]:
a = "    ab hi"
a

'    ab hi'

In [62]:
a.strip()

'ab hi'

In [63]:
a.lstrip()

'ab hi'

In [64]:
a.rstrip()

'    ab hi'

In [65]:
a = "my favorate domain is Data sciemce full stack"
a

'my favorate domain is Data sciemce full stack'

In [66]:
a.replace("is", "was")

'my favorate domain was Data sciemce full stack'

In [67]:
a

'my favorate domain is Data sciemce full stack'

In [71]:
a.center(100,'*')

'***************************my favorate domain is Data sciemce full stack****************************'

In [72]:
a = "abhishek\tbarandooru\tjanavejirao"
a

'abhishek\tbarandooru\tjanavejirao'

In [74]:
a.expandtabs()

'abhishek        barandooru      janavejirao'

In [105]:
a = "we all are a part of Full Stack"
a

'we all are a part of Full Stack'

In [82]:
a.lower() #1

'we all are a part of full stack'

In [81]:
a.count('a') #2

5

In [109]:
#3
for i in range(len(a)):
    if(a[i]=="a"):
        print(i)

3
7
11
14
28

In [88]:
a.replace("a", "neuron") #4

'we neuronll neuronre neuron pneuronrt of Full Stneuronck'

In [87]:
a.split() #5

['we', 'all', 'are', 'a', 'part', 'of', 'Full', 'Stack']

In [110]:
a = "Abhishek"
a

'Abhishek'

In [111]:
a.isalnum()

True

In [113]:
a.isalpha()

True

In [114]:
a.isascii()

True

In [115]:
a.isdecimal()

False

In [116]:
a.isidentifier()

True

In [117]:
a.islower()

False

In [118]:
a.isprintable()

True

In [119]:
a.isspace()

False

In [120]:
a.istitle()

True

In [121]:
a.endswith('k')

True

In [122]:
a.startswith('A')

True

In [124]:
len(a)

8

In [141]:
a

'Abhishek'

In [132]:
count = 0
for i in a:
    count = count + 1
print(count)

8

In [134]:
for i in a:
    print(i)

A
b
h
i
s
h
e
k

In [139]:
for i in range(len(a)):
    print(a[i])

A
b
h
i
s
h
e
k

In [150]:
for i in range(0, len(a)):
    print(a[-i])

A
k
e
h
s
i
h
b

In [152]:
a = "abhi"
c = len(a) - 1
while c>=0:
    print(a[c])
    c = c - 1

i
h
b
a

In [157]:
name = "abhishek"
vowel = "AaEeIiOoUu"
for i in name:
    if i in vowel:
        print("{} is a vowel".format(i))
    else:
        print("{} not vowel".format(i))

a is a vowel
b not vowel
h not vowel
i is a vowel
s not vowel
h not vowel
e is a vowel
k not vowel

In [159]:
"{} is my university".format("UNINA")

'UNINA is my university'

In [161]:
"{} is my course {} is my year".format("Data Science", "2nd")

'Data Science is my course 2nd is my year'

In [166]:
x = input()
y = input()

data science
unina

In [168]:
" {} is my course {} is my university".format(x,y)

' data science is my course unina is my university'

In [171]:
a = input("enter name : ")
b = a[::-1]
if a==b:
    print("palendrome")
else:
    print("not a palindrome")

enter name : MOMOM
palendrome

# LIST

In [175]:
l = ["ABhishek", 123, [12,5,7,9,0], 99,100]
l

['ABhishek', 123, [12, 5, 7, 9, 0], 99, 100]

In [176]:
l[2]

[12, 5, 7, 9, 0]

In [177]:
for i in l:
    print(i)

ABhishek
123
[12, 5, 7, 9, 0]
99
100

In [180]:
l[0:3]

['ABhishek', 123, [12, 5, 7, 9, 0]]

In [181]:
l[2:-1]

[[12, 5, 7, 9, 0], 99]

In [182]:
l[::-1]

[100, 99, [12, 5, 7, 9, 0], 123, 'ABhishek']

In [183]:
a = "abhi"
a

'abhi'

In [184]:
a + l

TypeError: can only concatenate str (not "list") to str

In [185]:
a = list(a)

In [186]:
a+l

['a', 'b', 'h', 'i', 'ABhishek', 123, [12, 5, 7, 9, 0], 99, 100]

In [188]:
a = ["abhi"]
a

['abhi']

In [189]:
a+l

['abhi', 'ABhishek', 123, [12, 5, 7, 9, 0], 99, 100]

In [190]:
a*6

['abhi', 'abhi', 'abhi', 'abhi', 'abhi', 'abhi']

In [191]:
len(a)

1

In [192]:
len(l)

5

In [193]:
12 in l

False

In [195]:
"ABhishek" in l

True