In [13]:
a = ['a','b','c','d','e']
for i in a:
    a.remove(i)
    #print(a)
    print(i)

a
c
e

In [14]:
t = ()

In [16]:
type(t)

tuple

In [17]:
t = []
type(t)

list

In [21]:
t = (55,"abhishek", 45.70)

In [31]:
l = [1,"abhishek", 45.70]

In [22]:
t[0]

55

In [23]:
t[5]

IndexError: tuple index out of range

In [25]:
t[0:5]

(55, 'abhishek', 45.7)

In [26]:
t[::-1]

(45.7, 'abhishek', 55)

In [27]:
t[-1]

45.7

In [29]:
t[::1]

(55, 'abhishek', 45.7)

In [32]:
l

[1, 'abhishek', 45.7]

In [33]:
l[0]

1

In [34]:
l[0]="albe"

In [35]:
l

['albe', 'abhishek', 45.7]

list -----------> is amutable collection and iteratuable
tuple ----------> is immutable collection and can't iterate

In [36]:
t

(55, 'abhishek', 45.7)

In [37]:
t[0]="99"

TypeError: 'tuple' object does not support item assignment

In [38]:
t

(55, 'abhishek', 45.7)

In [39]:
t1 =(77,"albe",97)

In [40]:
t1

(77, 'albe', 97)

In [41]:
t+t1

(55, 'abhishek', 45.7, 77, 'albe', 97)

In [42]:
l = ("abhi","tizz")

In [43]:
l

('abhi', 'tizz')

In [44]:
l = ["abhi","tizz"]

In [45]:
l

['abhi', 'tizz']

In [46]:
l[0]="petro"

In [47]:
l

['petro', 'tizz']

In [48]:
t[0]="petro"

TypeError: 'tuple' object does not support item assignment

In [49]:
t1

(77, 'albe', 97)

In [50]:
t1*4

(77, 'albe', 97, 77, 'albe', 97, 77, 'albe', 97, 77, 'albe', 97)

In [51]:
77 in t1

True

In [52]:
777 in t1

False

In [53]:
max(t1)

TypeError: '>' not supported between instances of 'str' and 'int'

In [55]:
t2 = (2,4,7,8,9,0)

In [56]:
max(t2)

9

In [57]:
t3 =("A","B","a","Z")

In [58]:
max(t3)

'a'

In [59]:
t4 = ("abhishek","alberto","saimama",45,67.0)

In [60]:
t4

('abhishek', 'alberto', 'saimama', 45, 67.0)

In [61]:
t4.index(4)

ValueError: tuple.index(x): x not in tuple

In [64]:
t4.index("saimama")

2

In [65]:
t4.index(7)

ValueError: tuple.index(x): x not in tuple

In [66]:
li = ["abhi","albe","petro",77,90.0]

In [67]:
li

['abhi', 'albe', 'petro', 77, 90.0]

In [68]:
li.index(3)

ValueError: 3 is not in list

In [69]:
li.index("petro")

2

In [70]:
t1 = (1,2,3,4,5)
t2 = ("abhi","albe","petro")

In [71]:
t1+t2

(1, 2, 3, 4, 5, 'abhi', 'albe', 'petro')

In [72]:
t3 =t1+t2

In [73]:
t3

(1, 2, 3, 4, 5, 'abhi', 'albe', 'petro')

In [75]:
t4 =list(t3)

In [76]:
t4

[1, 2, 3, 4, 5, 'abhi', 'albe', 'petro']

In [77]:
t4.insert(2,"sai")

In [78]:
t4

[1, 2, 'sai', 3, 4, 5, 'abhi', 'albe', 'petro']

In [84]:
tuple(t4)

(1, 2, 'dhanush', 'sai', 3, 4, 5, 'abhi', 'albe', 'petro')

In [85]:
t4

[1, 2, 'dhanush', 'sai', 3, 4, 5, 'abhi', 'albe', 'petro']

In [80]:
t4.insert(2,"dhanush")

In [81]:
t4

[1, 2, 'dhanush', 'sai', 3, 4, 5, 'abhi', 'albe', 'petro']

In [89]:
t1 = (167,(4,8,6,44),(66,88,99),("abhishek","albe","petro"))
t1

(167, (4, 8, 6, 44), (66, 88, 99), ('abhishek', 'albe', 'petro'))

In [91]:
t1 = (167,(4,8,6,44),(66,88,99),("abhishek","albe","petro"),["karthi","richa",77,1997,1977])
t1

(167,
 (4, 8, 6, 44),
 (66, 88, 99),
 ('abhishek', 'albe', 'petro'),
 ['karthi', 'richa', 77, 1997, 1977])

In [93]:
t1[0]

167

In [94]:
t1[2][2]

99

In [95]:
t1[4][4]

1977

In [96]:
t1[3][0:3]

('abhishek', 'albe', 'petro')

In [97]:
t1

(167,
 (4, 8, 6, 44),
 (66, 88, 99),
 ('abhishek', 'albe', 'petro'),
 ['karthi', 'richa', 77, 1997, 1977])

In [98]:
for i in t1:
    print(i)

167
(4, 8, 6, 44)
(66, 88, 99)
('abhishek', 'albe', 'petro')
['karthi', 'richa', 77, 1997, 1977]

In [100]:
for i in t1:
    if type(i)==tuple:
        print(i)

(4, 8, 6, 44)
(66, 88, 99)
('abhishek', 'albe', 'petro')

In [101]:
t1 =("abhi",1997,4)

In [102]:
t1

('abhi', 1997, 4)

In [103]:
t2 = ("albe",1997,6)

In [104]:
t2

('albe', 1997, 6)

In [106]:
if len(t1) ==len(t2):
    print("same")

same

In [107]:
t1

('abhi', 1997, 4)

In [108]:
t2 = ("albe",99,1997,8)

In [109]:
t2

('albe', 99, 1997, 8)

In [111]:
if len(t1) == len(t2):
    print("same")
else:
    print("not same")

not same

In [112]:
t3 =t1+t2

In [113]:
t3

('abhi', 1997, 4, 'albe', 99, 1997, 8)

In [114]:
t = input("enter the data")
if t in t3:
    print("legal")
else:
    print("illegal")

enter the dataabhi
legal

# useful of tuples and list in real time

password management

In [120]:
s = ["abhi","albe","albe","abhi"]
set(s)

{'abhi', 'albe'}

In [122]:
ss=s

In [123]:
for i in ss:
    print(i)

abhi
albe
albe
abhi

In [125]:
s = ["abhi","petro","petro","abhi","sai"]
s1 =set(s)

In [126]:
s1

{'abhi', 'petro', 'sai'}

In [127]:
for i in s1:
    print(i)

abhi
petro
sai

In [129]:
"abhi" in s1

True

In [130]:
s1[0]

TypeError: 'set' object is not subscriptable

In [131]:
s1[1]

TypeError: 'set' object is not subscriptable

In [132]:
s1(1)

TypeError: 'set' object is not callable

In [133]:
s1{1}

SyntaxError: invalid syntax (<ipython-input-133-25453106a6f5>, line 1)

In [134]:
s = set()

In [136]:
s

set()

In [137]:
type(s)

set

In [138]:
s.add(1997)

In [139]:
s

{1997}

In [143]:
s.add("petro")

In [144]:
s.add("albe")

In [145]:
s

{1997, 'albe', 'petro'}

In [147]:
s.remove("albe")

In [148]:
s

{1997, 'petro'}

In [149]:
s.clear()

In [150]:
s

set()

In [151]:
l =list(s)

In [152]:
l

[]

In [155]:
l.append(["abhi","albe","petro"])

In [156]:
l

[['abhi', 'albe', 'petro']]

In [158]:
s = ("abhi","petro","albe")

In [159]:
s =set(s)

In [160]:
s

{'abhi', 'albe', 'petro'}

In [161]:
s.append("sai")

AttributeError: 'set' object has no attribute 'append'

In [162]:
l =list(s)

In [163]:
l

['abhi', 'petro', 'albe']

In [164]:
l.append("karthik")

In [165]:
l

['abhi', 'petro', 'albe', 'karthik']

In [166]:
t =tuple(s)

In [167]:
t

('abhi', 'petro', 'albe')

In [168]:
set(t)

{'abhi', 'albe', 'petro'}

In [ ]:
list--------> 
Tuple------->
Set--------->
Dictionary-->

In [ ]:
1.Mimi industry
2.Real Estate
3.Govt Tender
4.Stocks
5.blockchain

In [169]:
d = {}

In [170]:
type(d)

dict

In [171]:
s ={1,2}

In [172]:
type(s)

set

In [173]:
d = {"name":"abhi","age":25}

In [174]:
d

{'name': 'abhi', 'age': 25}

In [175]:
d = {"name":"abhi","age":25,"name":"albe"}

In [176]:
d

{'name': 'albe', 'age': 25}

In [178]:
d = {"name":"abhi","age":25,"name1":{"albe","petro"}}

In [179]:
d

{'name': 'abhi', 'age': 25, 'name1': {'albe', 'petro'}}

In [180]:
d = {"name":"abhi","age":25,"name":"albe",{1,2,3,5}:"jjjj"}

TypeError: unhashable type: 'set'

In [181]:
d = {"name":"abhi","age":25,"name":"albe",(1,2,3,5):"jjjj"}

In [182]:
d

{'name': 'albe', 'age': 25, (1, 2, 3, 5): 'jjjj'}

In [183]:
d = {"name":"abhi","age":25,"name":"albe",[1,2,3,5]:"jjjj"}

TypeError: unhashable type: 'list'

In [186]:
d["name"]

'albe'

In [189]:
d = {"name":"abhi","age":25,"name":"albe",(1,2,3,5):"jjjj",12:"abhii"}

In [190]:
d

{'name': 'albe', 'age': 25, (1, 2, 3, 5): 'jjjj', 12: 'abhii'}

In [193]:
d[12]

'abhii'

In [194]:
d = {"name":"abhi","age":25,"name":"albe",(1,2,3,5):"jjjj",12:"abhii","num":(44,55,66)}

In [195]:
d

{'name': 'albe',
 'age': 25,
 (1, 2, 3, 5): 'jjjj',
 12: 'abhii',
 'num': (44, 55, 66)}

In [196]:
d["num"][1]

55

In [1]:
x = {"a1":33,"a2":22,"a3":"aj","a4":1997}
x

{'a1': 33, 'a2': 22, 'a3': 'aj', 'a4': 1997}

In [3]:
x['a4'] = x['a4']-97

In [4]:
x['a4']

1900

In [5]:
x['a4'] = -10

In [13]:
x

{'a1': 33, 'a2': 22, 'a3': 'aj', 'a4': -10}

In [7]:
x.keys()

dict_keys(['a1', 'a2', 'a3', 'a4'])

In [9]:
for i in x.keys():
    print(x[i])

33
22
aj
-10

In [10]:
for i in x.keys():
    print(type(x[i]))

<class 'int'>
<class 'int'>
<class 'str'>
<class 'int'>

In [11]:
x.items()

dict_items([('a1', 33), ('a2', 22), ('a3', 'aj'), ('a4', -10)])

In [15]:
for i in x.items():
    print(i)

('a1', 33)
('a2', 22)
('a3', 'aj')
('a4', -10)

In [16]:
x = {"a1":[33,44,55,77],"a2":22,"a3":"aj","a4":1997}

In [28]:
x

{'a1': [33, 44, 55, 77], 'a2': 22, 'a3': 'aj', 'a4': 1997}

In [23]:
for i in x.items():
    print(i[1])

[33, 44, 55, 77]
22
aj
1997

In [24]:
for i in x.items():
    print(i)

('a1', [33, 44, 55, 77])
('a2', 22)
('a3', 'aj')
('a4', 1997)

In [35]:
a = {"name":"abhi","age":25,4:{1997,2,1977,1}}

In [36]:
a

{'name': 'abhi', 'age': 25, 4: {1, 2, 1977, 1997}}

In [37]:
a[4]

{1, 2, 1977, 1997}

In [40]:
list(a[4])[1]

2

In [41]:
paragarph = input("enter the papragaph: ")

enter the papragaph: Naples (/neplz/; Italian: Napoli [napoli] (listen); Neapolitan: Napule [npl, npul])[a] is the regional capital of Campania and the third-largest city of Italy, after Rome and Milan, with a population of 967,069 within the city's administrative limits as of 2017. Its province-level municipality is the third-most populous metropolitan city in Italy with a population of 3,115,320 residents, and its metropolitan area stretches beyond the boundaries of the city wall for approximately 20 miles.  Founded by Greeks in the first millennium BC, Naples is one of the oldest continuously inhabited urban areas in the world.[4] In the ninth century BC, a colony known as Parthenope (Ancient Greek: ) was established on the Island of Megaride.[5] In the 6th century BC, it was refounded as Nepolis.[6] The city was an important part of Magna Graecia, played a major role in the merging of Greek and Roman society, and was a significant cultural centre under the Romans

In [42]:
type(paragarph)

str

In [45]:
a = list(paragarph)

In [46]:
type(a)

list

In [47]:
a

['N',
 'a',
 'p',
 'l',
 'e',
 's',
 ' ',
 '(',
 '/',
 '',
 'n',
 'e',
 '',
 'p',
 '',
 'l',
 'z',
 '/',
 ';',
 ' ',
 'I',
 't',
 'a',
 'l',
 'i',
 'a',
 'n',
 ':',
 ' ',
 'N',
 'a',
 'p',
 'o',
 'l',
 'i',
 ' ',
 '[',
 '',
 'n',
 'a',
 '',
 'p',
 'o',
 'l',
 'i',
 ']',
 ' ',
 '(',
 'l',
 'i',
 's',
 't',
 'e',
 'n',
 ')',
 ';',
 ' ',
 'N',
 'e',
 'a',
 'p',
 'o',
 'l',
 'i',
 't',
 'a',
 'n',
 ':',
 ' ',
 'N',
 'a',
 'p',
 'u',
 'l',
 'e',
 ' ',
 '[',
 '',
 'n',
 '',
 '',
 'p',
 '',
 'l',
 '',
 ',',
 ' ',
 '',
 'n',
 '',
 '',
 'p',
 'u',
 'l',
 '',
 ']',
 ')',
 '[',
 'a',
 ']',
 ' ',
 'i',
 's',
 ' ',
 't',
 'h',
 'e',
 ' ',
 'r',
 'e',
 'g',
 'i',
 'o',
 'n',
 'a',
 'l',
 ' ',
 'c',
 'a',
 'p',
 'i',
 't',
 'a',
 'l',
 ' ',
 'o',
 'f',
 ' ',
 'C',
 'a',
 'm',
 'p',
 'a',
 'n',
 'i',
 'a',
 ' ',
 'a',
 'n',
 'd',
 ' ',
 't',
 'h',
 'e',
 ' ',
 't',
 'h',
 'i',
 'r',
 'd',
 '-',
 'l',
 'a',
 'r',
 'g',
 'e',
 's',
 't',
 ' ',
 'c',
 'i',
 't',
 'y',
 ' ',
 'o',
 'f',
 ' ',
 'I',
 't',
 'a',
 'l',
 'y',
 ',',
 ' ',
 'a',
 'f',
 't',
 'e',
 'r',
 ' ',
 'R',
 'o',
 'm',
 'e',
 ' ',
 'a',
 'n',
 'd',
 ' ',
 'M',
 'i',
 'l',
 'a',
 'n',
 ',',
 ' ',
 'w',
 'i',
 't',
 'h',
 ' ',
 'a',
 ' ',
 'p',
 'o',
 'p',
 'u',
 'l',
 'a',
 't',
 'i',
 'o',
 'n',
 ' ',
 'o',
 'f',
 ' ',
 '9',
 '6',
 '7',
 ',',
 '0',
 '6',
 '9',
 ' ',
 'w',
 'i',
 't',
 'h',
 'i',
 'n',
 ' ',
 't',
 'h',
 'e',
 ' ',
 'c',
 'i',
 't',
 'y',
 "'",
 's',
 ' ',
 'a',
 'd',
 'm',
 'i',
 'n',
 'i',
 's',
 't',
 'r',
 'a',
 't',
 'i',
 'v',
 'e',
 ' ',
 'l',
 'i',
 'm',
 'i',
 't',
 's',
 ' ',
 'a',
 's',
 ' ',
 'o',
 'f',
 ' ',
 '2',
 '0',
 '1',
 '7',
 '.',
 ' ',
 'I',
 't',
 's',
 ' ',
 'p',
 'r',
 'o',
 'v',
 'i',
 'n',
 'c',
 'e',
 '-',
 'l',
 'e',
 'v',
 'e',
 'l',
 ' ',
 'm',
 'u',
 'n',
 'i',
 'c',
 'i',
 'p',
 'a',
 'l',
 'i',
 't',
 'y',
 ' ',
 'i',
 's',
 ' ',
 't',
 'h',
 'e',
 ' ',
 't',
 'h',
 'i',
 'r',
 'd',
 '-',
 'm',
 'o',
 's',
 't',
 ' ',
 'p',
 'o',
 'p',
 'u',
 'l',
 'o',
 'u',
 's',
 ' ',
 'm',
 'e',
 't',
 'r',
 'o',
 'p',
 'o',
 'l',
 'i',
 't',
 'a',
 'n',
 ' ',
 'c',
 'i',
 't',
 'y',
 ' ',
 'i',
 'n',
 ' ',
 'I',
 't',
 'a',
 'l',
 'y',
 ' ',
 'w',
 'i',
 't',
 'h',
 ' ',
 'a',
 ' ',
 'p',
 'o',
 'p',
 'u',
 'l',
 'a',
 't',
 'i',
 'o',
 'n',
 ' ',
 'o',
 'f',
 ' ',
 '3',
 ',',
 '1',
 '1',
 '5',
 ',',
 '3',
 '2',
 '0',
 ' ',
 'r',
 'e',
 's',
 'i',
 'd',
 'e',
 'n',
 't',
 's',
 ',',
 ' ',
 'a',
 'n',
 'd',
 ' ',
 'i',
 't',
 's',
 ' ',
 'm',
 'e',
 't',
 'r',
 'o',
 'p',
 'o',
 'l',
 'i',
 't',
 'a',
 'n',
 ' ',
 'a',
 'r',
 'e',
 'a',
 ' ',
 's',
 't',
 'r',
 'e',
 't',
 'c',
 'h',
 'e',
 's',
 ' ',
 'b',
 'e',
 'y',
 'o',
 'n',
 'd',
 ' ',
 't',
 'h',
 'e',
 ' ',
 'b',
 'o',
 'u',
 'n',
 'd',
 'a',
 'r',
 'i',
 'e',
 's',
 ' ',
 'o',
 'f',
 ' ',
 't',
 'h',
 'e',
 ' ',
 'c',
 'i',
 't',
 'y',
 ' ',
 'w',
 'a',
 'l',
 'l',
 ' ',
 'f',
 'o',
 'r',
 ' ',
 'a',
 'p',
 'p',
 'r',
 'o',
 'x',
 'i',
 'm',
 'a',
 't',
 'e',
 'l',
 'y',
 ' ',
 '2',
 '0',
 ' ',
 'm',
 'i',
 'l',
 'e',
 's',
 '.',
 ' ',
 ' ',
 'F',
 'o',
 'u',
 'n',
 'd',
 'e',
 'd',
 ' ',
 'b',
 'y',
 ' ',
 'G',
 'r',
 'e',
 'e',
 'k',
 's',
 ' ',
 'i',
 'n',
 ' ',
 't',
 'h',
 'e',
 ' ',
 'f',
 'i',
 'r',
 's',
 't',
 ' ',
 'm',
 'i',
 'l',
 'l',
 'e',
 'n',
 'n',
 'i',
 'u',
 'm',
 ' ',
 'B',
 'C',
 ',',
 ' ',
 'N',
 'a',
 'p',
 'l',
 'e',
 's',
 ' ',
 'i',
 's',
 ' ',
 'o',
 'n',
 'e',
 ' ',
 'o',
 'f',
 ' ',
 't',
 'h',
 'e',
 ' ',
 'o',
 'l',
 'd',
 'e',
 's',
 't',
 ' ',
 'c',
 'o',
 'n',
 't',
 'i',
 'n',
 'u',
 'o',
 'u',
 's',
 'l',
 'y',
 ' ',
 'i',
 'n',
 'h',
 'a',
 'b',
 'i',
 't',
 'e',
 'd',
 ' ',
 'u',
 'r',
 'b',
 'a',
 'n',
 ' ',
 'a',
 'r',
 'e',
 'a',
 's',
 ' ',
 'i',
 'n',
 ' ',
 't',
 'h',
 'e',
 ' ',
 'w',
 'o',
 'r',
 'l',
 'd',
 '.',
 '[',
 '4',
 ']',
 ' ',
 'I',
 'n',
 ' ',
 't',
 'h',
 'e',
 ' ',
 'n',
 'i',
 'n',
 't',
 'h',
 ' ',
 'c',
 'e',
 'n',
 't',
 'u',
 'r',
 'y',
 ' ',
 'B',
 'C',
 ',',
 ' ',
 'a',
 ' ',
 'c',
 'o',
 'l',
 'o',
 'n',
 'y',
 ' ',
 'k',
 'n',
 'o',
 'w',
 'n',
 ' ',
 'a',
 's',
 ' ',
 'P',
 'a',
 'r',
 't',
 'h',
 'e',
 'n',
 'o',
 'p',
 'e',
 ' ',
 '(',
 'A',
 'n',
 'c',
 'i',
 'e',
 'n',
 't',
 ' ',
 'G',
 'r',
 'e',
 'e',
 'k',
 ':',
 ' ',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 ')',
 ' ',
 'w',
 'a',
 's',
 ' ',
 'e',
 's',
 't',
 'a',
 'b',
 'l',
 'i',
 's',
 'h',
 'e',
 'd',
 ' ',
 'o',
 'n',
 ' ',
 't',
 'h',
 'e',
 ' ',
 'I',
 's',
 'l',
 'a',
 'n',
 'd',
 ' ',
 'o',
 'f',
 ' ',
 'M',
 'e',
 'g',
 'a',
 'r',
 'i',
 'd',
 'e',
 '.',
 '[',
 '5',
 ']',
 ' ',
 'I',
 'n',
 ' ',
 't',
 'h',
 'e',
 ' ',
 '6',
 't',
 'h',
 ' ',
 'c',
 'e',
 'n',
 't',
 'u',
 'r',
 'y',
 ' ',
 'B',
 'C',
 ',',
 ' ',
 'i',
 't',
 ' ',
 'w',
 'a',
 's',
 ' ',
 'r',
 'e',
 'f',
 'o',
 'u',
 'n',
 'd',
 'e',
 'd',
 ' ',
 'a',
 's',
 ' ',
 'N',
 'e',
 '',
 'p',
 'o',
 'l',
 'i',
 's',
 '.',
 '[',
 '6',
 ']',
 ' ',
 'T',
 'h',
 'e',
 ' ',
 'c',
 'i',
 't',
 'y',
 ' ',
 'w',
 'a',
 's',
 ' ',
 'a',
 'n',
 ' ',
 'i',
 'm',
 'p',
 'o',
 'r',
 't',
 'a',
 'n',
 't',
 ' ',
 'p',
 'a',
 'r',
 't',
 ' ',
 'o',
 'f',
 ' ',
 'M',
 'a',
 'g',
 'n',
 'a',
 ' ',
 'G',
 'r',
 'a',
 'e',
 'c',
 'i',
 'a',
 ',',
 ' ',
 'p',
 'l',
 'a',
 'y',
 'e',
 'd',
 ' ',
 'a',
 ' ',
 'm',
 'a',
 'j',
 'o',
 'r',
 ' ',
 'r',
 'o',
 'l',
 'e',
 ' ',
 'i',
 'n',
 ' ',
 't',
 'h',
 'e',
 ' ',
 'm',
 'e',
 'r',
 'g',
 'i',
 'n',
 'g',
 ' ',
 'o',
 'f',
 ' ',
 'G',
 'r',
 'e',
 'e',
 'k',
 ' ',
 'a',
 'n',
 'd',
 ' ',
 'R',
 'o',
 'm',
 'a',
 'n',
 ' ',
 's',
 'o',
 'c',
 'i',
 'e',
 't',
 'y',
 ',',
 ' ',
 'a',
 'n',
 'd',
 ' ',
 'w',
 'a',
 's',
 ' ',
 'a',
 ' ',
 's',
 'i',
 'g',
 'n',
 'i',
 'f',
 'i',
 'c',
 'a',
 'n',
 't',
 ' ',
 'c',
 'u',
 'l',
 't',
 'u',
 'r',
 'a',
 'l',
 ' ',
 'c',
 'e',
 'n',
 't',
 'r',
 'e',
 ' ',
 'u',
 'n',
 'd',
 'e',
 'r',
 ' ',
 't',
 'h',
 'e',
 ' ',
 'R',
 'o',
 'm',
 'a',
 'n',
 's']

In [48]:
set(a)

{' ',
 "'",
 '(',
 ')',
 ',',
 '-',
 '.',
 '/',
 '0',
 '1',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 '9',
 ':',
 ';',
 'A',
 'B',
 'C',
 'F',
 'G',
 'I',
 'M',
 'N',
 'P',
 'R',
 'T',
 '[',
 ']',
 'a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'j',
 'k',
 'l',
 'm',
 'n',
 'o',
 'p',
 'r',
 's',
 't',
 'u',
 'v',
 'w',
 'x',
 'y',
 'z',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 ''}

In [50]:
par = input("enter the paragraph: ")

enter the paragraph: Naples (/neplz/; Italian: Napoli [napoli] (listen); Neapolitan: Napule [npl, npul])[a] is the regional capital of Campania and the third-largest city of Italy, after Rome and Milan, with a population of 967,069 within the city's administrative limits as of 2017. Its province-level municipality is the third-most populous metropolitan city in Italy with a population of 3,115,320 residents, and its metropolitan area stretches beyond the boundaries of the city wall for approximately 20 miles.  Founded by Greeks in the first millennium BC, Naples is one of the oldest continuously inhabited urban areas in the world.[4] In the ninth century BC, a colony known as Parthenope (Ancient Greek: ) was established on the Island of Megaride.[5] In the 6th century BC, it was refounded as Nepolis.[6] The city was an important part of Magna Graecia, played a major role in the merging of Greek and Roman society, and was a significant cultural centre under the Romans

In [56]:
for i in par.split():
    print(i)

Naples
(/neplz/;
Italian:
Napoli
[napoli]
(listen);
Neapolitan:
Napule
[npl,
npul])[a]
is
the
regional
capital
of
Campania
and
the
third-largest
city
of
Italy,
after
Rome
and
Milan,
with
a
population
of
967,069
within
the
city's
administrative
limits
as
of
2017.
Its
province-level
municipality
is
the
third-most
populous
metropolitan
city
in
Italy
with
a
population
of
3,115,320
residents,
and
its
metropolitan
area
stretches
beyond
the
boundaries
of
the
city
wall
for
approximately
20
miles.
Founded
by
Greeks
in
the
first
millennium
BC,
Naples
is
one
of
the
oldest
continuously
inhabited
urban
areas
in
the
world.[4]
In
the
ninth
century
BC,
a
colony
known
as
Parthenope
(Ancient
Greek:
)
was
established
on
the
Island
of
Megaride.[5]
In
the
6th
century
BC,
it
was
refounded
as
Nepolis.[6]
The
city
was
an
important
part
of
Magna
Graecia,
played
a
major
role
in
the
merging
of
Greek
and
Roman
society,
and
was
a
significant
cultural
centre
under
the
Romans

In [59]:
type(par)

str

In [60]:
type(i)

str

In [62]:
a = list(i)

In [63]:
type(a)

list

In [64]:
print(a)

['R', 'o', 'm', 'a', 'n', 's']

In [66]:
par

"Naples (/neplz/; Italian: Napoli [napoli] (listen); Neapolitan: Napule [npl, npul])[a] is the regional capital of Campania and the third-largest city of Italy, after Rome and Milan, with a population of 967,069 within the city's administrative limits as of 2017. Its province-level municipality is the third-most populous metropolitan city in Italy with a population of 3,115,320 residents, and its metropolitan area stretches beyond the boundaries of the city wall for approximately 20 miles.  Founded by Greeks in the first millennium BC, Naples is one of the oldest continuously inhabited urban areas in the world.[4] In the ninth century BC, a colony known as Parthenope (Ancient Greek: ) was established on the Island of Megaride.[5] In the 6th century BC, it was refounded as Nepolis.[6] The city was an important part of Magna Graecia, played a major role in the merging of Greek and Roman society, and was a significant cultural centre under the Romans"

In [67]:
type(par)

str

In [69]:
s = list(par.split())

In [70]:
type(s)

list

In [71]:
print(s)

['Naples', '(/neplz/;', 'Italian:', 'Napoli', '[napoli]', '(listen);', 'Neapolitan:', 'Napule', '[npl,', 'npul])[a]', 'is', 'the', 'regional', 'capital', 'of', 'Campania', 'and', 'the', 'third-largest', 'city', 'of', 'Italy,', 'after', 'Rome', 'and', 'Milan,', 'with', 'a', 'population', 'of', '967,069', 'within', 'the', "city's", 'administrative', 'limits', 'as', 'of', '2017.', 'Its', 'province-level', 'municipality', 'is', 'the', 'third-most', 'populous', 'metropolitan', 'city', 'in', 'Italy', 'with', 'a', 'population', 'of', '3,115,320', 'residents,', 'and', 'its', 'metropolitan', 'area', 'stretches', 'beyond', 'the', 'boundaries', 'of', 'the', 'city', 'wall', 'for', 'approximately', '20', 'miles.', 'Founded', 'by', 'Greeks', 'in', 'the', 'first', 'millennium', 'BC,', 'Naples', 'is', 'one', 'of', 'the', 'oldest', 'continuously', 'inhabited', 'urban', 'areas', 'in', 'the', 'world.[4]', 'In', 'the', 'ninth', 'century', 'BC,', 'a', 'colony', 'known', 'as', 'Parthenope', '(Ancient', 'Greek:', ')', 'was', 'established', 'on', 'the', 'Island', 'of', 'Megaride.[5]', 'In', 'the', '6th', 'century', 'BC,', 'it', 'was', 'refounded', 'as', 'Nepolis.[6]', 'The', 'city', 'was', 'an', 'important', 'part', 'of', 'Magna', 'Graecia,', 'played', 'a', 'major', 'role', 'in', 'the', 'merging', 'of', 'Greek', 'and', 'Roman', 'society,', 'and', 'was', 'a', 'significant', 'cultural', 'centre', 'under', 'the', 'Romans']

In [72]:
a = list(set(s))

In [73]:
type(a)

list

In [74]:
print(a)

['city', 'urban', 'century', 'known', ')', 'its', 'Napule', 'part', 'The', 'Campania', '2017.', 'Greek', 'Neapolitan:', 'regional', 'a', 'areas', 'area', 'millennium', 'Megaride.[5]', 'role', 'residents,', 'after', 'province-level', '(listen);', '3,115,320', 'an', 'first', 'Greeks', 'Romans', 'limits', 'administrative', 'centre', 'Italian:', '[npl,', 'one', 'and', 'by', 'capital', 'is', 'BC,', 'within', '(Ancient', 'Milan,', 'In', 'beyond', 'it', 'stretches', '20', 'Magna', 'Founded', 'established', 'on', 'for', 'continuously', 'inhabited', 'colony', '6th', "city's", 'important', 'populous', 'third-most', '967,069', 'npul])[a]', 'ninth', 'Naples', 'refounded', 'Its', 'major', '[napoli]', 'oldest', 'with', 'Italy', 'significant', 'cultural', 'population', 'played', 'boundaries', 'Roman', 'miles.', 'world.[4]', 'third-largest', 'was', 'metropolitan', 'Graecia,', 'Parthenope', 'Italy,', 'society,', 'in', 'municipality', 'Nepolis.[6]', 'Island', 'wall', 'as', 'approximately', 'Greek:', 'Napoli', 'of', '(/neplz/;', 'the', 'under', 'Rome', 'merging']

In [75]:
aa = set(list(a))

In [76]:
type(aa)

set

In [82]:
print(aa)

{'city', 'urban', 'century', 'known', ')', 'its', 'Napule', 'part', 'The', 'Campania', '2017.', 'Greek', 'Neapolitan:', 'regional', 'a', 'areas', 'area', 'millennium', 'Megaride.[5]', 'role', 'residents,', 'after', 'province-level', '(listen);', '3,115,320', 'an', 'first', 'Greeks', 'Romans', 'limits', 'administrative', 'centre', 'Italian:', '[npl,', 'one', 'and', 'by', 'capital', 'is', 'BC,', 'within', '(Ancient', 'Milan,', 'In', 'beyond', 'it', 'stretches', '20', 'Magna', 'Founded', 'established', 'on', 'for', 'continuously', 'inhabited', 'colony', '6th', "city's", 'important', 'populous', 'third-most', '967,069', 'npul])[a]', 'ninth', 'Naples', 'refounded', 'Its', 'major', '[napoli]', 'significant', 'oldest', 'with', 'Italy', 'cultural', 'population', 'played', 'boundaries', 'Roman', 'miles.', 'world.[4]', 'third-largest', 'was', 'metropolitan', 'Graecia,', 'Parthenope', 'Italy,', 'society,', 'in', 'municipality', 'Nepolis.[6]', 'Island', 'wall', 'as', 'approximately', 'Greek:', 'Napoli', 'of', '(/neplz/;', 'the', 'under', 'Rome', 'merging'}

In [86]:
aa.remove[0]

TypeError: 'builtin_function_or_method' object is not subscriptable

In [87]:
a = input("enter the paragaph: ")

enter the paragaph: We experience the world through our senses touch sight hearing smell and taste   Among the five the sense of touch is singularly important a growing body of research confirms As contributing writer Cynthia Gorney explains in this months cover story Human beings require the physical presence of others the comforting touch of others in order to stay healthy

In [88]:
type(a)

str

In [89]:
s = list(a.split())

In [91]:
s

['We',
 'experience',
 'the',
 'world',
 'through',
 'our',
 'senses',
 'touch',
 'sight',
 'hearing',
 'smell',
 'and',
 'taste',
 'Among',
 'the',
 'five',
 'the',
 'sense',
 'of',
 'touch',
 'is',
 'singularly',
 'important',
 'a',
 'growing',
 'body',
 'of',
 'research',
 'confirms',
 'As',
 'contributing',
 'writer',
 'Cynthia',
 'Gorney',
 'explains',
 'in',
 'this',
 'months',
 'cover',
 'story',
 'Human',
 'beings',
 'require',
 'the',
 'physical',
 'presence',
 'of',
 'others',
 'the',
 'comforting',
 'touch',
 'of',
 'others',
 'in',
 'order',
 'to',
 'stay',
 'healthy']

In [92]:
type(s)

list

In [93]:
ss =set(list(s))

In [100]:
type(ss)

set

In [101]:
c = dict.fromkeys(ss,"abhishek")

In [102]:
type(c)

dict

In [103]:
print(c)

{'physical': 'abhishek', 'contributing': 'abhishek', 'stay': 'abhishek', 'smell': 'abhishek', 'our': 'abhishek', 'explains': 'abhishek', 'to': 'abhishek', 'important': 'abhishek', 'confirms': 'abhishek', 'story': 'abhishek', 'sight': 'abhishek', 'growing': 'abhishek', 'Among': 'abhishek', 'presence': 'abhishek', 'singularly': 'abhishek', 'senses': 'abhishek', 'research': 'abhishek', 'hearing': 'abhishek', 'body': 'abhishek', 'in': 'abhishek', 'world': 'abhishek', 'and': 'abhishek', 'Gorney': 'abhishek', 'order': 'abhishek', 'healthy': 'abhishek', 'taste': 'abhishek', 'comforting': 'abhishek', 'through': 'abhishek', 'a': 'abhishek', 'cover': 'abhishek', 'touch': 'abhishek', 'is': 'abhishek', 'As': 'abhishek', 'writer': 'abhishek', 'five': 'abhishek', 'of': 'abhishek', 'sense': 'abhishek', 'experience': 'abhishek', 'the': 'abhishek', 'We': 'abhishek', 'beings': 'abhishek', 'Human': 'abhishek', 'this': 'abhishek', 'months': 'abhishek', 'require': 'abhishek', 'others': 'abhishek', 'Cynthia': 'abhishek'}

In [104]:
tuple(c)

('physical',
 'contributing',
 'stay',
 'smell',
 'our',
 'explains',
 'to',
 'important',
 'confirms',
 'story',
 'sight',
 'growing',
 'Among',
 'presence',
 'singularly',
 'senses',
 'research',
 'hearing',
 'body',
 'in',
 'world',
 'and',
 'Gorney',
 'order',
 'healthy',
 'taste',
 'comforting',
 'through',
 'a',
 'cover',
 'touch',
 'is',
 'As',
 'writer',
 'five',
 'of',
 'sense',
 'experience',
 'the',
 'We',
 'beings',
 'Human',
 'this',
 'months',
 'require',
 'others',
 'Cynthia')

In [105]:
type(c)

dict

In [106]:
c.keys()

dict_keys(['physical', 'contributing', 'stay', 'smell', 'our', 'explains', 'to', 'important', 'confirms', 'story', 'sight', 'growing', 'Among', 'presence', 'singularly', 'senses', 'research', 'hearing', 'body', 'in', 'world', 'and', 'Gorney', 'order', 'healthy', 'taste', 'comforting', 'through', 'a', 'cover', 'touch', 'is', 'As', 'writer', 'five', 'of', 'sense', 'experience', 'the', 'We', 'beings', 'Human', 'this', 'months', 'require', 'others', 'Cynthia'])

In [107]:
c.items()

dict_items([('physical', 'abhishek'), ('contributing', 'abhishek'), ('stay', 'abhishek'), ('smell', 'abhishek'), ('our', 'abhishek'), ('explains', 'abhishek'), ('to', 'abhishek'), ('important', 'abhishek'), ('confirms', 'abhishek'), ('story', 'abhishek'), ('sight', 'abhishek'), ('growing', 'abhishek'), ('Among', 'abhishek'), ('presence', 'abhishek'), ('singularly', 'abhishek'), ('senses', 'abhishek'), ('research', 'abhishek'), ('hearing', 'abhishek'), ('body', 'abhishek'), ('in', 'abhishek'), ('world', 'abhishek'), ('and', 'abhishek'), ('Gorney', 'abhishek'), ('order', 'abhishek'), ('healthy', 'abhishek'), ('taste', 'abhishek'), ('comforting', 'abhishek'), ('through', 'abhishek'), ('a', 'abhishek'), ('cover', 'abhishek'), ('touch', 'abhishek'), ('is', 'abhishek'), ('As', 'abhishek'), ('writer', 'abhishek'), ('five', 'abhishek'), ('of', 'abhishek'), ('sense', 'abhishek'), ('experience', 'abhishek'), ('the', 'abhishek'), ('We', 'abhishek'), ('beings', 'abhishek'), ('Human', 'abhishek'), ('this', 'abhishek'), ('months', 'abhishek'), ('require', 'abhishek'), ('others', 'abhishek'), ('Cynthia', 'abhishek')])

In [111]:
a = input("enter the paragraph:\n")

enter the paragraph:
 We experience the world through our senses touch sight hearing smell and taste   Among the five the sense of touch is singularly important a growing body of research confirms As contributing writer Cynthia Gorney explains in this months cover story Human beings require the physical presence of others the comforting touch of others in order to stay healthy

In [112]:
sep = a.split()

In [113]:
sep

['We',
 'experience',
 'the',
 'world',
 'through',
 'our',
 'senses',
 'touch',
 'sight',
 'hearing',
 'smell',
 'and',
 'taste',
 'Among',
 'the',
 'five',
 'the',
 'sense',
 'of',
 'touch',
 'is',
 'singularly',
 'important',
 'a',
 'growing',
 'body',
 'of',
 'research',
 'confirms',
 'As',
 'contributing',
 'writer',
 'Cynthia',
 'Gorney',
 'explains',
 'in',
 'this',
 'months',
 'cover',
 'story',
 'Human',
 'beings',
 'require',
 'the',
 'physical',
 'presence',
 'of',
 'others',
 'the',
 'comforting',
 'touch',
 'of',
 'others',
 'in',
 'order',
 'to',
 'stay',
 'healthy']

In [114]:
type(sep)

list

In [116]:
s = set(sep)

In [117]:
type(s)

set

In [118]:
s

{'Among',
 'As',
 'Cynthia',
 'Gorney',
 'Human',
 'We',
 'a',
 'and',
 'beings',
 'body',
 'comforting',
 'confirms',
 'contributing',
 'cover',
 'experience',
 'explains',
 'five',
 'growing',
 'healthy',
 'hearing',
 'important',
 'in',
 'is',
 'months',
 'of',
 'order',
 'others',
 'our',
 'physical',
 'presence',
 'require',
 'research',
 'sense',
 'senses',
 'sight',
 'singularly',
 'smell',
 'stay',
 'story',
 'taste',
 'the',
 'this',
 'through',
 'to',
 'touch',
 'world',
 'writer'}

In [121]:
dic = {}
for i in s:
    dic[i] = "abhishek"
    print(i)

physical
contributing
stay
smell
our
explains
to
important
confirms
story
sight
growing
Among
presence
singularly
senses
research
hearing
body
in
world
and
Gorney
order
healthy
taste
comforting
through
a
cover
touch
is
As
writer
five
of
sense
experience
the
We
beings
Human
this
months
require
others
Cynthia

In [127]:
a = input("enter the paragraph: ")

enter the paragraph: We experience the world through our senses touch sight hearing smell and taste   Among the five the sense of touch is singularly important a growing body of research confirms As contributing writer Cynthia Gorney explains in this months cover story Human beings require the physical presence of others the comforting touch of others in order to stay healthy

In [129]:
b = a.split(" ")

In [130]:
b

['We',
 'experience',
 'the',
 'world',
 'through',
 'our',
 'senses',
 'touch',
 'sight',
 'hearing',
 'smell',
 'and',
 'taste',
 '',
 '',
 'Among',
 'the',
 'five',
 'the',
 'sense',
 'of',
 'touch',
 'is',
 'singularly',
 'important',
 'a',
 'growing',
 'body',
 'of',
 'research',
 'confirms',
 'As',
 'contributing',
 'writer',
 'Cynthia',
 'Gorney',
 'explains',
 'in',
 'this',
 'months',
 'cover',
 'story',
 'Human',
 'beings',
 'require',
 'the',
 'physical',
 'presence',
 'of',
 'others',
 'the',
 'comforting',
 'touch',
 'of',
 'others',
 'in',
 'order',
 'to',
 'stay',
 'healthy']

In [131]:
c= set(b)

In [133]:
c

{'',
 'Among',
 'As',
 'Cynthia',
 'Gorney',
 'Human',
 'We',
 'a',
 'and',
 'beings',
 'body',
 'comforting',
 'confirms',
 'contributing',
 'cover',
 'experience',
 'explains',
 'five',
 'growing',
 'healthy',
 'hearing',
 'important',
 'in',
 'is',
 'months',
 'of',
 'order',
 'others',
 'our',
 'physical',
 'presence',
 'require',
 'research',
 'sense',
 'senses',
 'sight',
 'singularly',
 'smell',
 'stay',
 'story',
 'taste',
 'the',
 'this',
 'through',
 'to',
 'touch',
 'world',
 'writer'}

In [134]:
type(c)

set

In [135]:
d = dict.fromkeys(c,"abhishek")

In [136]:
d

{'': 'abhishek',
 'physical': 'abhishek',
 'contributing': 'abhishek',
 'stay': 'abhishek',
 'smell': 'abhishek',
 'our': 'abhishek',
 'explains': 'abhishek',
 'to': 'abhishek',
 'important': 'abhishek',
 'confirms': 'abhishek',
 'story': 'abhishek',
 'sight': 'abhishek',
 'growing': 'abhishek',
 'Among': 'abhishek',
 'presence': 'abhishek',
 'singularly': 'abhishek',
 'senses': 'abhishek',
 'research': 'abhishek',
 'hearing': 'abhishek',
 'body': 'abhishek',
 'in': 'abhishek',
 'world': 'abhishek',
 'and': 'abhishek',
 'Gorney': 'abhishek',
 'order': 'abhishek',
 'healthy': 'abhishek',
 'taste': 'abhishek',
 'comforting': 'abhishek',
 'through': 'abhishek',
 'a': 'abhishek',
 'cover': 'abhishek',
 'touch': 'abhishek',
 'is': 'abhishek',
 'As': 'abhishek',
 'writer': 'abhishek',
 'five': 'abhishek',
 'of': 'abhishek',
 'sense': 'abhishek',
 'experience': 'abhishek',
 'the': 'abhishek',
 'We': 'abhishek',
 'beings': 'abhishek',
 'Human': 'abhishek',
 'this': 'abhishek',
 'months': 'abhishek',
 'require': 'abhishek',
 'others': 'abhishek',
 'Cynthia': 'abhishek'}

In [137]:
type(d)

dict

In [139]:
e = tuple(d.values())

In [140]:
e

('abhishek',
 'abhishek',
 'abhishek',
 'abhishek',
 'abhishek',
 'abhishek',
 'abhishek',
 'abhishek',
 'abhishek',
 'abhishek',
 'abhishek',
 'abhishek',
 'abhishek',
 'abhishek',
 'abhishek',
 'abhishek',
 'abhishek',
 'abhishek',
 'abhishek',
 'abhishek',
 'abhishek',
 'abhishek',
 'abhishek',
 'abhishek',
 'abhishek',
 'abhishek',
 'abhishek',
 'abhishek',
 'abhishek',
 'abhishek',
 'abhishek',
 'abhishek',
 'abhishek',
 'abhishek',
 'abhishek',
 'abhishek',
 'abhishek',
 'abhishek',
 'abhishek',
 'abhishek',
 'abhishek',
 'abhishek',
 'abhishek',
 'abhishek',
 'abhishek',
 'abhishek',
 'abhishek',
 'abhishek')

In [141]:
f = list(d.keys())

In [142]:
f

['',
 'physical',
 'contributing',
 'stay',
 'smell',
 'our',
 'explains',
 'to',
 'important',
 'confirms',
 'story',
 'sight',
 'growing',
 'Among',
 'presence',
 'singularly',
 'senses',
 'research',
 'hearing',
 'body',
 'in',
 'world',
 'and',
 'Gorney',
 'order',
 'healthy',
 'taste',
 'comforting',
 'through',
 'a',
 'cover',
 'touch',
 'is',
 'As',
 'writer',
 'five',
 'of',
 'sense',
 'experience',
 'the',
 'We',
 'beings',
 'Human',
 'this',
 'months',
 'require',
 'others',
 'Cynthia']

In [143]:
{i:i*i for i in range(10)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

# Difference Between 
1.String - is a collection of character, it is immutable

2.List - [ ] -  is a collection of elements of anytype, it is muttable

3.Tuple - () - A Tuple is a collection of Python objects separated by commas. In some ways, a tuple is similar to a list in terms of           indexing, nested objects, and repetition but a tuple is immutable, unlike lists that are mutable.

4.Set - ( ) - A Set is an unordered collection data type that is iterable, mutable, and has no duplicate elements.

5.Dictionary - {"key":"value"} - n Python is an ordered (since Py 3.7) [unordered (Py 3.6 & prior)] collection of data values,                used to store data values like a map, which, unlike other Data Types that hold only a single value as an                        element, Dictionary holds key:value pair. Key-value is provided in the dictionary to make it more optimized.

In [15]:
a = ("abhishek")

In [16]:
a.index('i')

3

In [17]:
len(a)

8

In [20]:
a  = ["abhishek","alberto","petro"]

In [13]:
a.index[0]

TypeError: 'builtin_function_or_method' object is not subscriptable

In [19]:
len(a)

3

In [21]:
a[1]

'alberto'

In [22]:
a = {"abhishek",1,1,1,1}
a

{1, 'abhishek'}

In [36]:
!python -V

Python 3.8.5

Python 3.8.5