# Function

In [2]:
a = 10
b = 20
a+b

30

In [4]:
def sum(x,y):

SyntaxError: unexpected EOF while parsing (<ipython-input-4-55f05b590c75>, line 1)

In [5]:
def sum(x,y):
    pass

In [25]:
def sum(x,y):
    print(x+y)

In [9]:
sum(20,30)

50

In [10]:
sum(22,18)

40

In [20]:
def sum1(a,b):
    return a+b

In [12]:
sum1(10,10)

20

In [13]:
sum1(20,30) + 50

100

In [14]:
sum(10,10) + 10

20

TypeError: unsupported operand type(s) for +: 'NoneType' and 'int'

In [17]:
type(sum(10,20))

30

NoneType

In [23]:
type(a)
type(b)
type(x)
type(y)

NameError: name 'x' is not defined

In [24]:
type(x)

NameError: name 'x' is not defined

In [26]:
def sum(a,b):
    print(a+b)

In [27]:
type(a)

int

In [28]:
type(b)

int

In [29]:
sum(10,20)

30

In [31]:
type(a)

int

In [32]:
type(sum(10,20))

30

NoneType

In [33]:
def sum1(x,y):
    return x+y

In [35]:
sum1(10,20)

30

In [36]:
type(sum1(10,20))

int

In [37]:
def sum2(a,b,c):
    return a+b+c

In [38]:
sum2(1,1)

TypeError: sum2() missing 1 required positional argument: 'c'

In [39]:
sum2(1,1,1,)

3

In [41]:
def su_mu(a,b):
    return a*10, b*10, a+b

In [42]:
su_mu(1,2)

(10, 20, 3)

In [43]:
su_mu(10,10)

(100, 100, 20)

In [44]:
x,y,z =su_mu(20,30)

In [45]:
x

200

In [46]:
y

300

In [47]:
z

50

In [49]:
type(su_mu(20,30))

tuple

In [50]:
def s_u(a,b):
    return a+b

In [51]:
s_u(10,20)

30

In [52]:
type(s_u(10,20))

int

In [53]:
def a():
    print("hi welcome unina italy")

In [54]:
a

In [55]:
a()

hi welcome unina italy

In [56]:
a() + "aa"

hi welcome unina italy

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [57]:
def b():
    print("hi welcome unina italy")

In [58]:
b = b()

hi welcome unina italy

In [61]:
b + "abbb"

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [66]:
def xxx():
    return "hi welcome unina italy"

In [67]:
xxx()

'hi welcome unina italy'

In [68]:
x =xxx()

In [70]:
x + " europe"

'hi welcome unina italy europe'

In [71]:
def aa(n):
    return n,n*n

In [73]:
aa(7)

(7, 49)

In [76]:
def bb(n):
    return n,n*3

In [78]:
bb(3)

(3, 9)

In [84]:
bb([1,2,3,4])

([1, 2, 3, 4], [1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4])

In [80]:
type(bb)

function

In [82]:
type(bb([1,2,3,4]))

tuple

In [86]:
bb

In [87]:
b = bb([1,2,3,4])

In [88]:
b

([1, 2, 3, 4], [1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4])

In [89]:
type(b)

tuple

In [90]:
b[0]

[1, 2, 3, 4]

In [91]:
b[1][1]

2

In [92]:
type(b[1])

list

In [93]:
def li(*args):
    return args

In [94]:
li([1],[2])

([1], [2])

In [134]:
def li(*lists):
    return sum(lists, [])

In [135]:
li([1,2,3],[4])

TypeError: can only concatenate tuple (not "list") to tuple

In [141]:
def join_lists(*lists):
    return sum(lists, [])

In [142]:
join_lists([1, 2, 3], [4, 5, 6])

TypeError: can only concatenate tuple (not "list") to tuple

In [143]:
def concatenate(*lists):
    new_list = []
    for i in lists:
        new_list.extend(i)
    return new_list

In [145]:
concatenate([1,2],[3,4,5])

[1, 2, 3, 4, 5]

In [148]:
def concat(*args):
    temp = []
    for i in args:
        temp.extend(i)
    return temp

In [149]:
concat([1,2],[3,4])

[1, 2, 3, 4]

In [150]:
def add(a,b,c):
    return a+b+c

In [151]:
add([1,2,3],[4,56],[7,8])

[1, 2, 3, 4, 56, 7, 8]

In [159]:
def aa(*args):
    l=[]
    for i in args:
        l = l + i
    return l

In [160]:
aa([1,2,3,4,5],[5,5,6,6])

[1, 2, 3, 4, 5, 5, 5, 6, 6]

In [163]:
def a(*args):
    l = []
    for i in args:
        l.append(i)
    return l

In [164]:
a([1,2,3,4,5],[4,5,6,7])

[[1, 2, 3, 4, 5], [4, 5, 6, 7]]

In [165]:
def aa(*args):
    return [i for i in args]

In [167]:
aa([1,2,3],[567])

[[1, 2, 3], [567]]

In [168]:
def aaa(*args):
    l=[]
    for i in args:
        l = l + i
    return l

In [169]:
aaa([1,2,3],[2,3,4,5],[7,8,9])

[1, 2, 3, 2, 3, 4, 5, 7, 8, 9]

In [170]:
def aaa(*args):
    l=[]
    for i in args:
        l = l + i
    return l

In [173]:
aaa([1,2,3],"abhi","albe")

TypeError: can only concatenate list (not "str") to list

In [174]:
def aaa(*args):
    l=[]
    for i in args:
        if type(i) == list:
            l = l + i
    return l

In [175]:
aaa([1,2,3],"abhi","albe",["chauhan","suravamshi"])

[1, 2, 3, 'chauhan', 'suravamshi']

In [9]:
def summ(**kwargs):
    return kwargs

In [10]:
summ(1,1,2,3,4,5,5)

TypeError: summ() takes 0 positional arguments but 7 were given

In [11]:
summ(1)

TypeError: summ() takes 0 positional arguments but 1 was given

In [12]:
summ(a="abhishek")

{'a': 'abhishek'}

In [13]:
summ(a=1,b="abhsihek")

{'a': 1, 'b': 'abhsihek'}

In [14]:
summ(a=[1,2,3,4,5], b="abhishek",c=1,d=[1,2,4,6,9,7,7])

{'a': [1, 2, 3, 4, 5], 'b': 'abhishek', 'c': 1, 'd': [1, 2, 4, 6, 9, 7, 7]}

In [15]:
def aa(*args):
    return args

In [22]:
aa(1,2,"abhishek",0.09,True,False,"alberto",99,1997)

(1, 2, 'abhishek', 0.09, True, False, 'alberto', 99, 1997)

In [47]:
def aa(*args):
    for i in args:
        if type(i)==str:
            print(i)
        elif type(i)==int:
            print(i)
    return args

In [46]:
aa(1,2,"abhishek",0.09,True,False,"alberto",99,1997)

1
2

AttributeError: 'str' object has no attribute 'sort'

In [32]:
type(aa(1,2,"abhishek",0.09,True,False,"alberto",99,1997))

tuple

In [54]:
def aa(*args):
    return list(args)

In [55]:
aa(1,2,"abhishek",0.09,True,False,"alberto",99,1997)

[1, 2, 'abhishek', 0.09, True, False, 'alberto', 99, 1997]

In [56]:
type(aa(1,2,"abhishek",0.09,True,False,"alberto",99,1997))

list

In [60]:
type(aa())

list

In [61]:
aa = [1,2,"abhishek",0.09,True,False,"alberto",99,1997]

In [62]:
aa

[1, 2, 'abhishek', 0.09, True, False, 'alberto', 99, 1997]

In [118]:

def aa(*args):
    a = []
    
    for i in args:
        if type(i)==int:
            a.append(i)
        if type(i)==str:
            a.append(i)
        if type(i)==float:
            a.append(i)
        if type(i)==bool:
            a.append(i)
    return a

In [128]:
aa("hhh",True,"fjhjwks",1,2,3,4, True, False,0.000,0.444)

([True, 1, 2, 3, 4, True, False], ['hhh', 'fjhjwks'], [0.0, 0.444])

In [169]:
def aa(*args):
    
    a = []
    b = []
    c = []
    d = []
    e = []
    f = []
    g = []
    
    for i in args:
        if type(i)==int:
            a.append(i)
        if type(i)==str:
            b.append(i)
        if type(i)==float:
            c.append(i)
        if type(i)==bool:
            d.append(i)
        if type(i)==list:
            e.append(i)
        if type(i)==set:
            f.append(i)
        if type(i)==dict:
            g.append(i)
            
    return a,b,c,d,e,f,g

In [171]:
aa("hhh",True,"fjhjwks",1,2,3,4, True, False,0.000,0.444,[1,2,3,"abhi"],(1,2,3),{1,2,3,4},{"a":"abhi","b":"1"})

([1, 2, 3, 4],
 ['hhh', 'fjhjwks'],
 [0.0, 0.444],
 [True, True, False],
 [[1, 2, 3, 'abhi']],
 [{1, 2, 3, 4}],
 [{'a': 'abhi', 'b': '1'}])

In [197]:
def fun1(*args, **kwargs):
    l = [i for i in args if type(i)==list]
    m = [i for i in kwargs.items() if type(i[1])==list]
    return l,m

In [196]:
fun1([1,2,3,4,"abhi"],["hhhhhh"],a=4, b = [2,3,4,5])

([[1, 2, 3, 4, 'abhi'], ['hhhhhh']], [('b', [2, 3, 4, 5])])

In [198]:
def fun1(*args, **kwargs):
    l = [i for i in args if type(i)==list]
    m = [i[1] for i in kwargs.items() if type(i[1])==list]
    return l,m

In [199]:
fun1([1,2,3,4,"abhi"],["hhhhhh"],a=4, b = [2,3,4,5])

([[1, 2, 3, 4, 'abhi'], ['hhhhhh']], [[2, 3, 4, 5]])

In [208]:
def fun2(**kwargs):
    return kwargs

In [213]:
fun2(a = 1, b = [1,2,3,4], c = 5+4j )

{'a': 1, 'b': [1, 2, 3, 4], 'c': (5+4j)}

In [231]:
def fun3(**kwargs):
    for i in kwargs.items():
        if type(i[1])==list:
            if "abhi" in i[1]:
                print("found")
                print(i[1])
    return kwargs

In [234]:
fun3(a=1,b=2,c=["abhi", 2, 3])

found
['abhi', 2, 3]

{'a': 1, 'b': 2, 'c': ['abhi', 2, 3]}

In [244]:
def fun4(*args):
    dit = {}
    for i in args:
        if type(i) in dit:
            dit[type(i)].append(i)
        else:
            dit[type(i)]=[i]
    return dit

In [245]:
fun4("aa",1,4+3j)

{str: ['aa'], int: [1], complex: [(4+3j)]}

In [13]:
dt = {}
def fun5(*args):
    for i in args:
        if type(i) in dt:
            dt[type(i)].append(i)
        else:
            dt[type(i)]=[i]
    return dt

In [14]:
fun5("abh","albe",[1,2,3,4])

{str: ['abh', 'albe'], list: [[1, 2, 3, 4]]}